/* body {
  background-image: url(../assets/img/test.png);
  background-size: cover;
  background: linear-gradient(
    200deg,
    rgb(250, 151, 71) 50%,
    rgb(69, 165, 230) 50%
  );
} */

.card {
  margin-top: 5vh;
  border-right: 5px solid rgb(69, 165, 230);
  border-left: 5px solid rgb(250, 151, 71);
  /*  border: 5px solid rgb(250, 151, 71); */
  min-height: 50vh;
  margin-top: 15vh;
}

.card-content .btn {
  background-color: #ff6c2d;
  font-weight: bold;
}

.card-content .btn:hover {
  background-color: rgb(248, 82, 11);
}
